.save-configuration-button {
    margin-top: 15px;
}

.gamma-field {
    margin-bottom: 15px;
}

.save-configuration-button {
    margin-top: 15px;
}

.settings-container {
    margin-top: 5px;
    align-self: center;
}

.configuration-name-field {
    margin-bottom: 15px;
}

.chain-timer-field {
    margin-bottom: 15px;
}

.landmark-tolerance-field {
    margin-bottom: 15px;
}

.image-type-field {
    margin-bottom: 15px;
}

.settings-container {
    width: 50%;
}

.bottom-half-container {
    margin-top: 5px;
    align-self: center;
}

.button-container {
    flex-direction: row;
}

.save-gesture-container {
    display: none;
}

.make-active-button {
    width: 50%;
}

.delete-configuration-button {
    width: 50%;
}
