.take-image-btn {
    width: 100px;
    height: 100px;
    align-items: stretch;
    align-self: flex-end;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}

.webcam-feed {
    width: 600px;
    height: 600px;
    align-self: center;
}
