.horizontal-container {
   flex-direction: row;
   width: 35%;
   margin-left: 320px;
   margin-bottom: 10px;
}

.error-text {
   color: rgb(255, 0, 0);
   margin-bottom: 5px;
   margin-left: 280px;
   margin-top: 10px;
}

.save-gesture-text-field {
   width: 50%;
   margin-left: 10px;
}

.create-gesture-buttons {
   align-items: stretch;
   align-self: flex-start;
   border-top-left-radius: 10px;
   border-bottom-left-radius: 10px;
   border-bottom-right-radius: 10px;
   border-top-right-radius: 10px;
   margin-left: 5px;
   margin-right: 10px;
}

.camera-dropdown {
   width: 50%;
   margin-left: 320px;
   margin-bottom: 8px;
   margin-top: 3px;
}

.gesture-category-text-field {
   width: 75%;
   margin-left: 10px;
}

.saving-gesture-container {
   flex-direction: row;
   align-items: flex-end;
   margin-left: 15px;
}

.save-gesture-text-field {
   width: 75%;
   margin-right: 10px;
}