.gesture-container {
    width: 200px;
    height: 200px;
    margin-top: 15px;
    margin-left: 15px;
    border-top-width: 2px;
    border-right-width: 2px;
    border-bottom-width: 2px;
    border-left-width: 2px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-left-color: rgb(0, 0, 0);
    border-right-color: rgb(0, 0, 0);
    border-top-color: rgb(0, 0, 0);
    border-bottom-color: rgb(0, 0, 0);
}

.gesture-image {
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-image: url("project://database/Assets/Images/Default_Image.png?fileID=2800000&guid=6b36c9f8668b35f4cb28e83383c43ae0&type=3#Default_Image");
    height: 75px;
}

.delete-gesture-button {
    align-self: flex-end;
    width: 30px;
    height: 30px;
    margin-top: 2px;
    margin-right: 4px;
    margin-bottom: 10px;
    margin-left: 10px;
    background-image: url("project://database/Assets/Images/CloseButtonDark_Sprite.png?fileID=2800000&guid=1c487cdd7569e0a4889af0168e224b25&type=3#CloseButtonDark_Sprite");
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    padding-top: 10px;
    padding-right: 12px;
    padding-bottom: 10px;
    padding-left: 12px;
}

.gesture-details {
    margin-top: 15px;
    margin-right: 4px;
    margin-bottom: 2px;
    margin-left: 2px;
    -unity-text-align: upper-center;
}

.delete-gesture-button {
    align-self: flex-end;
    width: 30px;
    height: 30px;
    margin-top: 2px;
    margin-right: 4px;
    margin-bottom: 10px;
    margin-left: 10px;
    background-image: url("project://database/Assets/Images/CloseButtonDark_Sprite.png?fileID=2800000&guid=1c487cdd7569e0a4889af0168e224b25&type=3#CloseButtonDark_Sprite");
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color: rgba(0, 0, 0, 0);
    border-left-color: rgba(255, 255, 255, 0);
    border-right-color: rgba(255, 255, 255, 0);
    border-top-color: rgba(255, 255, 255, 0);
    border-bottom-color: rgba(255, 255, 255, 0);
}

.gesture-type {
    align-self: flex-end;
    width: 30%;
    margin-top: 4px;
    margin-right: 4px;
    margin-bottom: 35px;
    margin-left: 85px;
    padding-top: 4px;
    padding-right: 2px;
    padding-bottom: 4px;
    padding-left: 1px;
    -unity-text-align: upper-center;
    border-left-color: rgb(0, 0, 0);
    border-right-color: rgb(0, 0, 0);
    border-top-color: rgb(0, 0, 0);
    border-bottom-color: rgb(0, 0, 0);
}

.gesture-bottom-half-container {
    flex-grow: 1;
    margin-top: 55px;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    flex-direction: row;
}
